@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html, body{
  height: 100%;
}

body{
  background: #684A52;
  font-family: 'Montserrat', sans-serif;
}

#root{
  @apply min-h-full py-5 flex place-content-center place-items-center;
}